<div class="sidebar">
    <div>
        <h3>Channels</h3>
        <ul id="channelsUl">
            <li id="create">
                <a href="/channels">Create channel</a>
            </li>
        </ul>
    </div>
    <div>
        <h3>Users</h3>
        <p>Click on your name to edit your profile.
            <br> Click on a user for private chat.
        </p>
        <ul id="usersUl">
        </ul>
    </div>
</div>