<h1>Please login</h1>
<% if (typeof message !=='undefined' ) { %>
    <p>
        <%= message %>
    </p>
    <% } %>
        <form action="/users/login" method="POST">
            <div class="">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Enter Email" autocomplete="username"
                    value="dev@test.user" />
            </div>
            <div class="">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Enter Password" autocomplete="current-password"
                    value="dev@test.user" />
            </div>
            <button class="w-100 btn btn btn-outline-primary" type="submit">Sign in</button>
        </form>