<h1 class="h3 mb-3 fw-normal">Welcome to Slacky</h1>

<p>Login or create your account!</p>

<p>
    <a href="/users/register" class="btn btn-outline-secondary">Register</a>
    <a href="/users/login" class="btn btn-outline-primary">Login</a>
</p>