.clearfix {
  overflow: auto;
}

html, body {
  width: 100%;
  height: 100%;
}


.topnav {
  position: relative;
  overflow: hidden;
  background-color: #66b5b8;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #417a7c;
  color: white;
}

.topnav a.active {
  background-color: #4CAF50;
  color: #cccccc;
}

.topnav-centered a {
  pointer-events: none;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }
  
  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}


.header {
  height: 50px;
  background: #2196F3;
}

.sidebar {
  float: left;
  width: 250px;
  height: calc(100% - 5px);
  background: #cdefff;
  overflow: auto;

}
.handle {
  float: left;
  width: 10px;
  height: calc(100% - 5px);
  background: #ddd;
  cursor: ew-resize;
}
.content {
  margin-left: 260px;
  height: calc(100% - 200px);
  overflow: auto;
}
p {
  font-size: 12px;
  height: 35px;
  background: #b1e7f5;
}

li {
  list-style:none;
}


body {
  margin: 0;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 251px;
  right: 0;
  display: flex;
  height: 5rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

.input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 10px;
  margin: 0.25rem;
}

.input:focus {
  outline: none;
}

#form > button {
  background: rgb(8, 24, 238);
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 10px;
  outline: none;
  color: #fff;
}

.messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.messages > li {
  padding: 0.5rem 1rem;
}

.messages > li:nth-child(odd) {
  background: #e0f3db;
}

.medium_image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.icon_image {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
