.clearfix {
  overflow: auto;
}

html, body {
  width: 100%;
  height: 100%;
}


.topnav {
  position: relative;
  overflow: hidden;
  background-color: #2196F3;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #136db6;
  color: white;
}

.topnav a.active {
  background-color: #4CAF50;
  color: #cccccc;
}

.topnav-centered a {
  pointer-events: none;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }
  
  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}


.header {
  height: 50px;
  background: #2196F3;
}

.sidebar {
  float: left;
  width: 250px;
  height: calc(100% - 5px);
  background: #cdefff;
  overflow: auto;

}
.handle {
  float: left;
  width: 10px;
  height: calc(100% - 5px);
  background: #ddd;
  cursor: ew-resize;
}
.content {
  margin-left: 260px;
  height: calc(100% - 200px);
  overflow: auto;
}
p {
  font-size: 12px;
  height: 35px;
  background: #b1e7f5;
}

li {
  list-style:none;
}


body {
  margin: 0;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 251px;
  right: 0;
  display: flex;
  height: 5rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

.input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 10px;
  margin: 0.25rem;
}

.input:focus {
  outline: none;
}

#form > button {
  background: rgb(8, 24, 238);
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 10px;
  outline: none;
  color: #fff;
}

.messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.messages > li {
  padding: 0.5rem 1rem;
}

.messages > li:nth-child(odd) {
  background: #e0f3db;
}

.medium_image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.icon_image {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

/*--------------*/

@font-face {
  font-family: 'icons';
  src: url('icons.ttf')  format('truetype');
}

div, input {
  box-sizing: border-box;
}

.container {
  width: 500px;
  height: 350px;
  padding: 35px 0;
  background: -webkit-linear-gradient(left, #7fb4e6, #F5FBF0 50%, #C2DD9A); 
}

.container-register {
  margin:0 413px 0 413px;
  width: 500px;
  height: 480px;
  padding: 35px 0;
  background: -webkit-linear-gradient(left, #7fb4e6, #F5FBF0 50%, #C2DD9A); 
}

.form-account {
  width: 365px; height: 274px;
  margin: auto;
  background: rgba(0,0,0,.23);
  padding: 2px;
}
.form-account-register {
  width: 365px; height: 400px;
  margin: auto;
  background: rgba(0,0,0,.23);
  padding: 2px;
}

.header-account {
  height: 44px;
  line-height: 44px;
  padding-left: 30px;
  font-size: 20px;
  background: url('http://i.imgur.com/s0O9hy0.png') 325px center no-repeat, -webkit-linear-gradient(top, rgb(253,253,253), rgb(198,203,199));
}

#form-account-body {
  margin: 0 31px;
}

.input-account[type=email], .input-account[type=password], .input-account[type=name] {
  display: block;
  width: 100%;
  height: 38px;
  padding-left: 38px;
  background: url('http://i.imgur.com/s0O9hy0.png') 10px center no-repeat, -webkit-linear-gradient(45deg, #404040 0%, #404040 60%, #535353 60%, #494949);
  color: #AAA;
  border: 1px solid black;
  transition: box-shadow .3s;
}

.input-account[type=text]:focus, .input-account[type=password]:focus {
  outline: 0;
  box-shadow: inset 0 0 8px rgba(226,239,207,.7);
}

.input-account[type=text] { margin-top: 36px; margin-bottom: 26px; }
.input-account[type=email] { margin-top: 36px; margin-bottom: 26px; }

.input-account[type=password] { margin-bottom: 36px; margin-top: 26px; }
.input-account[type=password] { margin-bottom: 36px; margin-top: 26px; }




.input-account[type=submit] {
  float: right;
  width: 134px; height: 31px;
  border: 1px solid #B7DA7C;
  background: url('http://i.imgur.com/s0O9hy0.png') 15px center no-repeat, -webkit-linear-gradient(top, #99CC4B, #73A52C);
  font-weight: bold;
  color: white;
  text-align: right;
  padding-right: 22px;
}

.input-account[type=submit]:active {
  box-shadow: inset 0 -3 5px rgba(0,0,0,.5);
  background: -webkit-linear-gradient(top, #649126, #7DB731);
}