.clearfix {
  overflow: auto;
}

html, body {
  width: 100%;
  height: 100%;
}

.header {
  height: 50px;
  background: #2196F3;
}

.sidebar {
  float: left;
  width: 250px;
  height: calc(100% - 50px);
  background: #cdefff;
  overflow: auto;

}
.handle {
  float: left;
  width: 10px;
  height: calc(100% - 50px);
  background: #ddd;
  cursor: ew-resize;
}
.content {
  margin-left: 260px;
  height: calc(100% - 200px);
  overflow: auto;
}
p {
  font-size: 12px;
  height: 35px;
  background: #b1e7f5;
}



body {
  margin: 0;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 251px;
  right: 0;
  display: flex;
  height: 5rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

.input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 10px;
  margin: 0.25rem;
}

.input:focus {
  outline: none;
}

#form > button {
  background: rgb(8, 24, 238);
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 10px;
  outline: none;
  color: #fff;
}

.messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.messages > li {
  padding: 0.5rem 1rem;
}

.messages > li:nth-child(odd) {
  background: #e0f3db;
}
